*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
ul{
    list-style: none;
}
a{
    display: inline-block;
    text-decoration: none;
}
.navbar{
    position: absolute;
    width: 100%;
    z-index: 999;

}

/* header css  start*/
.header-btn a{
    padding: 15px 40px;
    background: #6a4df4;
    color: #fff;
    font-size: 18px;
    border-radius: 10px;
    text-transform: capitalize;
    transition: all linear .3s;
}
.header-btn a:hover{
    background: #fff;
    color: #6A4DF4;
}
.navbar-nav .nav-item .nav-link{
    margin: 0 30px;
    color: #fff;
    transition: all linear .3s;
}
.navbar-nav .nav-item .nav-link:hover{
    color: #6A4DF4;
}
.navbar.navbar-expand-lg{
    padding-top: 50px;
}
.banner-heading{
    text-align: center;
}
.banner-heading h1{
    font-size: 70px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 30px;
}
.banner-heading p{
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 30px;
}
.banner-img img{
    width: 100%;
    height: 100vh;
}
.banner-img{
    width: 100%;
    position: relative;
}
.banner-img::after{
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    /* z-index: -1; */
}
.banner-heading {
    width: 900px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.slick-dots{
   margin-bottom: 70px;
}
.slick-dots li{
    background: #6A4DF4;
    border-radius: 50%;
}
.slick-dots li.slick-active button{
    border: 3px solid #fff;
    border-radius: 50%;
}
/* header css  end*/

/* success section start*/
#success{
    padding-top: 100px;
    padding-bottom: 149px;
}
.success-text {
    padding-left: 20px;
}
.success-text h6{
    font-size: 25px;
    color: #6A4DF4;
    line-height: 120%;
}
.success-text h2{
    font-size: 36px;
    font-weight: 600;
    line-height: 42px;
    color: #151515;
}
.counter-text {
    padding-left: 70px;
}
.counter-text h2{
    font-size: 50px;
    font-weight: bold;
    line-height: 61px;
}
.counter-text p{
    font-size: 20px;
    font-weight: 500;
    list-style: 120%;
}
.success-wrapper{
    background: #E0FFF9;
    padding: 80px 20px;
    border-radius: 10px;
}
/* success section end*/
/* sercives section start */
#services{
    padding-bottom: 100px;
}
.common-heading {
    margin-bottom: 40px;
}
.common-heading h2{
    font-size: 45px;
    line-height: 54px;
    font-weight: bold;
    color: #151515;
    margin-bottom: 20px;
}
.common-heading p{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #737373;
}
.service-cd{
    margin-top: 20px;
}
.services-items{
    text-align: center;
    padding: 80px 49px 46px 49px;
    /* box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.15); */
    border-radius: 10px;
    transition: all linear .4s;
}
.services-items:hover{
    box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
.services-items img{
    margin-bottom: 30px;
}
.services-items h3{
    margin-bottom: 13px;
    font-size: 25px;
    font-weight: bold;
    line-height: 30px;
    color: #151515;
}
.services-items p{
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: #737373;
}
/* sercives section end */
/* recent work section start */
#recent-work{
    padding: 150px 0;
    background: #F3F3F3;
}
.recent-work-item{
    text-align: center;
    background: #fff;
    border-radius: 20px;
}
.recent-work-item img{
    width: 100%;
}
.recent-work-item h3{
    font-size: 20px;
    font-weight: bold;
    color: #151515;
    line-height: 24px;
    padding-top: 30px;
    padding-bottom: 5px;
}
.recent-work-item p {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #737373;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 25px;
}
.recent-work-box{
    padding-top: 30px;
}
/* recent work section end */

/* agency section start */
#agency{
    padding-top: 100px;
    padding-bottom: 50px;
}
.common-cls{
    padding: 0 23px;
}
.agency-box{
    margin-top: 60px;
}
.agency-item {
    margin-bottom: 80px;
}
.agency-item h3{
    font-size: 25px;
    line-height: 30px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #151515;
}
.agency-item p {
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: #737373;
    padding-right: 83px;
}
/* agency section end *

/* clinet-review start */
#client-review{
    margin-bottom: 140px;
    position: relative;
}
.client-review-items{
    padding: 50px 50px 35px 50px;
    box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.311);
    border-radius: 10px;
    margin: 15px;
}
.img-bom{
    margin-bottom: 20px;
}
.review-items{
    display: flex;
}
.review-items img{
    margin-right: 20px;
}
.star-img{
    margin-bottom: 20px;
}
.clinet-name h6{
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
}
.clinet-name p {
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    margin-top: -10px;
}
.arrow-btn .left {
    position: absolute;
    top: 61%;
    left: 20px;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background: #6A4DF4;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    line-height: 50px;
    font-size: 28px;
    cursor: pointer;
}
.arrow-btn .right {
    position: absolute;
    top: 61%;
    right: 20px;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background: #6A4DF4;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    line-height: 50px;
    font-size: 28px;
    cursor: pointer;
}
/* clinet-review end */

/* development section start*/
#development{
    background: #F3F3F3;
    padding-top: 125px;
    padding-bottom: 100px;
}
.development-from{
    background: #fff;
    padding: 40px 50px;
}
.from-input input {
    margin-bottom: 28px;
}
.from-input label{
    font-size: 16px;
    font-weight: 500;
}
.from-heading{
    text-align: center;
    margin-bottom: 20px;
}
.from-heading h2{
    font-size: 30px;
    line-height: 36px;
    font-weight: bold;
}
.common-text{
    padding-right: 40px;
}
.form-btn{
    background: #6A4DF4;
    padding: 12px 0;
    color: #fff;
}
.form-pt{
    padding: 13px 10px;
}
.development-text{
    display: flex;
    align-items: center;
}
/* development section end*/

/* footer section start*/
#footer {
    padding-top: 100px;
    padding-bottom: 100px;
    background: #3e3e3e;
}
.footer-t-img p {
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    margin-top: 20px;
    color: #fff;
}
.ft-heading h2{
    font-size: 20px;
    font-weight: 600;
    color: #fff;
}
.ft-manu {
    margin-top: 27px;
}
.ft-manu a{
    font-size: 16px;
    font-weight: 400;
    line-height: 40px;
    display: block;
    color: #fff;
    transition: all linear .3s;
}
.ft-manu a:hover{
    color: #6A4DF4;
}
.footer-text p{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #fff;
}
#footer-bottom {
    background: #232323;
    padding-top: 30px;
    padding-bottom: 14px;
}
/* footer section end*/